# This file is managed by a scripted process.
# Manual changes will be destroyed if the script is re-applied.
#
# This file deliberately contains no configuration.
# The real repo is installed as "local-google-chrome.repo".
#
# (The intent is to replace any existing file e.g. from
# fedora-workstation-repositories.  Keeping this file "empty"
# also avoids google-chrome scripts modifying it).
