# This file is managed by a scripted process.
# Manual changes will be destroyed if the script is re-applied.
#
# This file deliberately contains no configuration.
# The real repo is installed as "local-google-chrome.repo".
#
# (The intent is to prevent this file being created by
# fedora-workstation-repositories.  The reason for this is mostly cosmetic.
# Keeping this file empty also avoids google-chrome scripts modifying it).
